main {
  min-height: 80vh;
}

.rating span {
  margin: 1.5px;
}
h3 {
  padding: 10px 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.headerlink {
  margin-left: auto;
}

.loading {
  text-align: center;
  justify-content: center;
}
